*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin flex($just:"baseline", $align:"baseline", $dir:"row"){
    display: flex;
    justify-content:$just;
    align-items: $align;
    flex-direction: $dir;
}

.parent{
    background-color: rgb(149, 190, 225);
    width: 100vw;
    height: 100vh;
    @include flex(center,center,column);

}
#keyboard{
    width: 280px;
    height: 100px;
    background-color: wheat;
    @include flex(center,center,column);
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    border-radius: 5px;
    div{
        margin: 2px 0px ;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        button{
            font-size: larger;
            width: 25px;
            margin: 0px 1px;
        }
    }
}
