*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@mixin flex($just:"baseline", $align:"baseline", $dir:"row"){
    display: flex;
    justify-content:$just;
    align-items: $align;
    flex-direction: $dir;
}
@keyframes keyAnime1 {
    0%{}
    50%{
        transform: scale(1.3, 1.3);
        background-color: lime;
    }
    100%{
        transform: none;
        background-color: limegreen;
    }
}
@keyframes keyAnime2 {
    0%{}
    50%{
        transform: scale(1.2, 1.2);
        background-color: orangered;
    }
    100%{
        transform: none;
        background-color: red;
    }
}
.parent{
    background-color: rgb(149, 190, 225);
    width: 100vw;
    height: 100vh;
    @include flex(center,center,column-reverse);
    div{
        margin: 10px 0px;
    }
}
#keyboard{
    border: 2px black solid;
    width: 280px;
    height: 100px;
    background-color: wheat;
    @include flex(center,center,column);
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    border-radius: 5px;
    div{
        margin: 2px 0px ;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        button{
            font-size: larger;
            width: 25px;
            margin: 0px 1px;
            border-radius: 5px;
        }
    }
}
.word{
    border: 2px black solid;
    width: 280px;
    height: 50px;
    border-radius: 25px;
    background-color: wheat;
    @include flex(space-around,center,row);
    .letter{
        font-size:x-large;
        font-weight: bold;
        font-family: calibri;
        visibility: hidden;
    }
}
#mistake{
    background-color: wheat;
    border-radius: 10px;
    border: 2px black solid;
}
.correctKey{
    animation: keyAnime1 0.7s;
    animation-fill-mode: forwards;
}
.wrongKey{
    animation: keyAnime2 0.7s;
    animation-fill-mode: forwards;
}